* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #303030;
    background-color: #B0E0F0;
    width: 100%;
}

div{
    border:1px solid red!important;
}

a, a:active, a:visited {
    color: #7070B0;
    text-decoration: none;
}

a:hover{
    color:#9090c0;
    text-decoration: none;
}

.container{
    max-width:920px;
    padding:0;
    margin:0;
}

.mainDiv {
    background-color:#FFFFFF;
    margin:0 auto;
}

.logo {
    color: #ff0000;
    font-size:x-large;
    font-weight: 600;
    text-decoration: none;
}

.messageDiv{

}

.hashtag {
    color: #7070B0;
    cursor: pointer;
    text-decoration: underline;
}

.link {
    color: #7070B0;
    cursor: pointer;
    text-decoration: underline;
}