<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Messages.js" type="text/javascript"></script>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Styles/Main.css" type="text/css" />
    
</head>
<body>
    <div class="container mainDiv">

        <div class="container margin25 backDarkBlue">
            @Html.Action("TopPanel", "Home")
        </div>

        <main id="main" class="container">
            @RenderBody()
        </main>
    </div>
</body>
</html>
