@model IEnumerable<Twits.WEB.Models.SubscriptionUser>

@if (Model == null)
{
    <div class="col-xs-12">
        Никто не подписан
    </div>
}

else
{
    if (Model.Count() == 0)
    {
        <div class="col-xs-12">
            Никто не подписан
        </div>
    }

    else
    {
        foreach (var user in Model)
        { 
            <div class="col-xs-12 bold messageDiv row">
                <div class="col-xs-5 col-sm-3 text-center row">
                    @{
                            string path = "/Images/Avatars/av" + user.Login + ".png";
                    }

                    <div class="col-xs-12 col-sm-3">
                        <img src="@path" class="xsmallImage" />
                    </div>
                    <div class="col-xs-12 col-sm-9 text-center">
                        @Html.ActionLink(user.Login, "UserInfo", "User", new { user = user.Login }, null)
                    </div>
                </div>
                <div class="col-xs-7 col-sm-9">
                    @if (User != null && User.Identity.IsAuthenticated)
                    {
                        if (user.Flag != null)
                        {
                            if (user.Flag == true)
                            {
                                @Html.ActionLink("Отписаться", "Unsubscribe", "Subscription", new { subscription = user.Login }, null);
                            }
                            else
                            {
                                @Html.ActionLink("Подписаться", "Subscribe", "Subscription", new { subscription = user.Login }, null)
                            }
                        }
                    }
                </div>
            </div>
                            }
                        }
}

