
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_MainLayout.cshtml";
}

<h2>Index</h2>

<menu>
    <menuitem>
        Последние твиты
    </menuitem>

</menu>

<noscript>
    Для работы необходим JavaScript
</noscript>


<div id="showContent">

</div>