
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_MainLayout.cshtml";
}



<script>
    $(document).ready(function () {
        $("#showContent").load("/Message/LastMessages")
    });
</script>

<noscript>
    Для работы необходим JavaScript
</noscript>

<div class="container row">
    <div class="col-xs-12 col-sm-3">
        @Ajax.ActionLink("Последние сообщения", "LastMessages", "Message",
       new AjaxOptions
       {
           HttpMethod = "get",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "showContent"
       })
    </div>

    <div class="col-xs-12 col-sm-9">
        <div id="showContent">

        </div>
    </div>
</div>
