
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_MainLayout.cshtml";
}



<script>
    $(document).ready(function () {
        $("#showContent").load("/Message/LastMessages")
    });
</script>

<menu>
    <menuitem>
        @Ajax.ActionLink("Последние сообщения", "LastMessages", "Message",
       new AjaxOptions
       {
           HttpMethod = "get",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "showContent"
       })

    </menuitem>

</menu>

<noscript>
    Для работы необходим JavaScript
</noscript>


<div id="showContent">

</div>