
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_MainLayout.cshtml";
}


<div class="col-xs-12 col-sm-2">
    @{
        string path = "/Images/Avatars/av" + User.Identity.Name + ".png";
    }
    <img class="mediumImage" src=@path />

</div>





<div class="col-xs-12 col-sm-10 text-left">
    @using (Html.BeginForm("UploadAvatar", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-xs-12">
            <span>
                Загрузите новый аватар
            </span>
            <br />

            <input type="file" style="display:inline-block;" class="button" width="100" value="" name="upload" />
            <input type="submit" style="display:inline-block;position:absolute;margin-left:5px;" class="button" value="OK" />
        </div>
    }

    <div class="col-xs-12">

        @if (ViewBag.ErrorMessage != null)
        {
            @ViewBag.ErrorMessage
        }

    </div>
</div>

