@model IEnumerable<Twits.WEB.Models.UserMessage>



@if (Model != null && Model.Count() != 0)
{
    foreach (var mes in Model)
    {
        if (ViewBag.IsItMe != null && ViewBag.IsItMe == true)
        {
            <div class="container">
                @MessageHelpers.PrintMessage(mes, true)
            </div>
        }
        else
        {
            <div class="container">
                @MessageHelpers.PrintMessage(mes)
            </div>
        }
    }
}
else
{
    @: Сообщений нет
}
