
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/_MainLayout.cshtml";
}

<h2>UserInfo</h2>

<menu>
    <menuitem>
        @Ajax.ActionLink("Новое сообщение", "AddNewMessage", new AjaxOptions
   {
       HttpMethod= "GET",
       UpdateTargetId = "showContent",
       InsertionMode = InsertionMode.Replace
   }
       )
    </menuitem>

    <menuitem>
        @Ajax.ActionLink("Мои сообщения", "UserMessages", new AjaxOptions
   {
       HttpMethod = "GET",
       UpdateTargetId = "showContent",
       InsertionMode = InsertionMode.Replace
   }
       )
    </menuitem>

    <menuitem>
        Лента
    </menuitem>

    <menuitem>
        Подписки
    </menuitem>

    <menuitem>
        Подписчики
    </menuitem>
</menu>

<noscript>
    Для работы необходим JavaScript
</noscript>


<div id="showContent">

</div>