@model IEnumerable<Twits.WEB.Models.UserMessage>



    @if (Model != null && Model.Count() != 0)
    {
        foreach (var mes in Model)
        {
            if (ViewBag.IsItMe != null && ViewBag.IsItMe == true)
            {
                <div class="container col-xs-12 messageDiv">
                    @MessageHelpers.PrintMessage(mes, true)
                </div>

            }
            else
            {
                <div class="container col-xs-12 messageDiv">
                    @MessageHelpers.PrintMessage(mes)
                </div>
            }
        }
    }
    else
    {
        <div class="col-xs-12">
            Нет сообщений
        </div>
    }
